dentist/dentist.xcodeproj/xcuserdata
dentist/dentist.xcodeproj/project.xcworkspace/xcuserdata
dentist/dentist.xcworkspace/xcuserdata
dentist/Pods/Pods.xcodeproj/xcuserdata

# slather
code-cover

.DS_Store